<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#title},~{::#content},~{::#scripts})}">

<head>
    <title id="title">Signup</title>
</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12 pt-16 ">
            <div class="col-span-4 md:col-span-3 lg:col-span-3 xl:col-span-4 "></div>
            <div class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4">
                <!-- 6 ki space le rahi hai -->
                <!-- card  -->
                <div
                    class="p-6 border-t-4 border-blue-700 bg-white border rounded-lg shadow dark:bg-gray-800 dark:border-blue-700">
                    <div>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center dark:text-white">
                            Sign-Up</h5>
                    </div>

                    <!--Form Begin -->

                    <form 
                    data-th-action="@{'/do-register'}"
                    method="post"
                    data-th-object="${userForm}"
                    novalidate>

                        <!-- name -->
                        <div class="mb-3">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" data-th-field="*{name}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="abc" required />
                        </div>
                        <p 
                        data-th:if="${#fields.hasErrors('name')}"
                        data-th-errors="*{name}"
                        class="text-red-600 pb-1 px-1">
                        Please name</p>

                        <!-- email -->
                        <div class="mb-3">
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" id="email" data-th-field="*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com" required />
                        </div>
                        <p 
                        data-th:if="${#fields.hasErrors('email')}"
                        data-th-errors="*{email}"
                        class="text-red-600 pb-1 px-1">
                        Please name</p>

                        <!-- password -->
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" id="password" data-th-field="*{password}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                        </div>
                        <p 
                        data-th:if="${#fields.hasErrors('password')}"
                        data-th-errors="*{password}"
                        class="text-red-600 pb-1 px-1">
                        Please name</p>

                        <!-- phone -->
                        <div class="mb-3">
                            <label for="phoneNumber"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                number</label>
                            <input type="text" id="phoneNumber" data-th-field="*{phoneNumber}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="+91" required />
                        </div>
                        <p 
                        data-th:if="${#fields.hasErrors('phoneNumber')}"
                        data-th-errors="*{phoneNumber}"
                        class="text-red-600 pb-1 px-1">
                        Please name</p>

                        <!-- about -->
                        <div class="mb-3">
                            <label for="about"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write something
                                about yourself
                            </label>
                            <textarea id="about" rows="6" data-th-field="*{about}"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write your thoughts here..."></textarea>
                        </div>
                        <p 
                        data-th:if="${#fields.hasErrors('about')}"
                        data-th-errors="*{about}"
                        class="text-red-600 pb-1 px-1">
                        Please name</p>

                        <!-- signup Button -->
                        <div class="mb-3 pt-2 flex justify-center space-x-5">
                            <button type="submit"
                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                sign-up
                            </button>

                            <!-- reset button -->
                            <button type="reset"
                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                                Reset
                            </button>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <script id="scripts">
        console.log("register")
    </script>
    <!-- <script src="/src/main/resources/static/javaScript/formValidation.js"></script> -->
</body>

</html>